<div class="author">
    <h1 class="author-heading">Hello, I'm Jorge! 👋</h1>
    <p class="author-body">I'm a UX Designer and Software Developer in NYC, passionate about creating problem-solving experiences.</p>
</div>

<img src="https://t4.ftcdn.net/jpg/00/97/58/97/360_F_97589769_t45CqXyzjz0KXwoBZT9PRaWGHRk5hQqQ.jpg" alt="image of specialization" class="hero-image" width="981" height="528">

<section class="posts">
    <h2 class="posts-heading"> Latests Posts </h2>
    <ul class="posts-ul">

        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <img src= <%= post.image %> alt="image description" class="post-image"></img>
                    <span class="post-title"><%= post.title %></span>
                    <span class="posts-list-date"><%= post.createdAt.toDateString() %></span>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

</section>